<pfme-nav-header></pfme-nav-header>

<!-- Main content -->

<div id="main-poster">
   <img class="posterimg" src="./assets/poster.png">
</div>

<!-- Options for site -->
<div id="optionsSite">
    <div id="easyEmi" class="optionsCls">
        <div class="optionIcon pb-3"><i class="fa fa-inr "></i></div>
        <div class="optionName">Easy EMI Options</div>
    </div>
    <div id="freeAssem" class="optionsCls">
        <div class="optionIcon pb-3"><i class="fa fa-truck"></i></div>
        <div class="optionName">Free Assembly</div>
    </div>
    <div id="easyReturns" class="optionsCls">
        <div class="optionIcon pb-3"><i class="fa fa-folder"></i></div>
        <div class="optionName">Easy Returns</div>
    </div>
    <div id="freeShi" class="optionsCls">
        <div class="optionIcon pb-3"><i class="fa fa-truck shippingIcon"></i></div>
        <div class="optionName">Free Shipping</div>
    </div>
</div>
<!-- offers show -->
<div id="offersDiv">
    <div class="offerposterDiv col-lg-3"><img class="offerPoster" src="./assets/offers-poster.png"></div>
    <div class="offerlistSlide col-lg-9">
        <div class="slide-left-arr slideArrow"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
        <div class="slideOffer">
            <div class="offerlist">
                <div class="offerimgDiv"><img class="offerImg" src="./assets/offer-1.png"></div>
                <div class="offerdesc">Spacewood Engineered wood King Hydraulic system Visual</div>
                <div class="flatoffer">Flat 58% off</div>
                <div class="startPrice">Starting From <i class="fa fa-inr "></i></div>
            </div>
            <div class="offerlist">
                <div class="offerimgDiv"><img class="offerImg" src="./assets/offer-1.png"></div>
                <div class="offerdesc">Spacewood Engineered wood King Hydraulic system Visual</div>
                <div class="flatoffer">Flat 58% off</div>
                <div class="startPrice">Starting From <i class="fa fa-inr "></i></div>
            </div>
            <div class="offerlist">
                <div class="offerimgDiv"><img class="offerImg" src="./assets/offer-1.png"></div>
                <div class="offerdesc">Spacewood Engineered wood King Hydraulic system Visual</div>
                <div class="flatoffer">Flat 58% off</div>
                <div class="startPrice">Starting From <i class="fa fa-inr "></i></div>
            </div>
            <div class="offerlist">
                <div class="offerimgDiv"><img class="offerImg" src="./assets/offer-1.png"></div>
                <div class="offerdesc">Spacewood Engineered wood King Hydraulic system Visual</div>
                <div class="flatoffer">Flat 58% off</div>
                <div class="startPrice">Starting From <i class="fa fa-inr "></i></div>
            </div>
            <div class="offerlist">
                <div class="offerimgDiv"><img class="offerImg" src="./assets/offer-1.png"></div>
                <div class="offerdesc">Spacewood Engineered wood King Hydraulic system Visual</div>
                <div class="flatoffer">Flat 58% off</div>
                <div class="startPrice">Starting From <i class="fa fa-inr "></i></div>
            </div>
            <div class="offerlist">
                <div class="offerimgDiv"><img class="offerImg" src="./assets/offer-1.png"></div>
                <div class="offerdesc">Spacewood Engineered wood King Hydraulic system Visual</div>
                <div class="flatoffer">Flat 58% off</div>
                <div class="startPrice">Starting From <i class="fa fa-inr "></i></div>
            </div>
            <div class="offerlist">
                <div class="offerimgDiv"><img class="offerImg" src="./assets/offer-1.png"></div>
                <div class="offerdesc">Spacewood Engineered wood King Hydraulic system Visual</div>
                <div class="flatoffer">Flat 58% off</div>
                <div class="startPrice">Starting From <i class="fa fa-inr "></i></div>
            </div>
            <div class="offerlist">
                <div class="offerimgDiv"><img class="offerImg" src="./assets/offer-1.png"></div>
                <div class="offerdesc">Spacewood Engineered wood King Hydraulic system Visual</div>
                <div class="flatoffer">Flat 58% off</div>
                <div class="startPrice">Starting From <i class="fa fa-inr "></i></div>
            </div>
        </div>
        <div class="slide-right-arr slideArrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
    </div>
</div>
<!-- shop by size -->
<div id="shopbysize">
    <span id="shopByHeading">Shop By Size</span>
    <div id="queen" class="shopOption">
        <div class="shopIcon"><i class="fa fa-bed " aria-hidden="true"></i></div>
        <div class="typeName">Queen</div>
    </div>
    <div id="king" class="shopOption">
        <div class="shopIcon"><i class="fa fa-bed" aria-hidden="true"></i></div>
        <div class="typeName">King</div>
    </div>
    <div id="single" class="shopOption">
        <div class="shopIcon pb-3"><i class="fa fa-bed" aria-hidden="true"></i></div>
        <div class="typeName">Single</div>
    </div>
</div>